/**
 * Color Palette
 */
// primary
$tb-primary: #2d64f1;
$tb-primary-light: #7491ff;
$tb-primary-dark: #003bbd;

// secondary
$tb-secondary: #252c3c;
$tb-secondary-light: #4e5566;
$tb-secondary-dark: #000016;

// blue
$tb-blue: #284ee8;
$tb-blue-dark: #0d0b20;
$tb-blue-light: #59bcf7;

//purple

$tb-purple: #b74ad6;

// green
$tb-green: #62cba5;
$tb-green-border: #58bbad;
$tb-green-hover: #58bbad29;

// pink
$tb-pink: #af20af;
$tb-pink-light: #935995;

// white
$tb-white: #f5f5f5;

// background
$tb-black-background: #121212;
$tb-grey-background: #7e7e7e;

// messages
$tb-red-error: #ed5956;
$tb-orange-warning: #ed9829;
$tb-blue-info: #0094ff;
$tb-green-success: #00c083;

// text
$tb-black-text: #000000;

/*
 * Color Map (used for color classes and direct usage in components)
 */
$colors: (
  'primary': $tb-primary,
  'primaryLight': $tb-primary-light,
  'primaryDark': $tb-primary-dark,
  'secondary': $tb-secondary,
  'secondaryLight': $tb-secondary-light,
  'secondaryDark': $tb-secondary-dark,
  'blue': $tb-blue,
  'blueDark': $tb-blue-dark,
  'blueLight': $tb-blue-light,
  'purple': $tb-purple,
  'green': $tb-green,
  'greenBorder': $tb-green-border,
  'greenHover': $tb-green-hover,
  'pink': $tb-pink,
  'pinkLight': $tb-pink-light,
  'white': $tb-white,
  'blackBackground': $tb-black-background,
  'greyBackground': $tb-grey-background,
  'redError': $tb-red-error,
  'orangeWarning': $tb-orange-warning,
  'blueInfo': $tb-blue-info,
  'greenSuccess': $tb-green-success,
  'blackText': $tb-black-text,
);

:export {
  @each $name, $value in $colors {
    #{unquote($name)}: $value;
  }
}
