/**
 * Color Palette
 */
// primary
$tb-primary: #b74ad6;
$tb-primary-light: #ec7cff;
$tb-primary-dark: #840da4;

// secondary
$tb-secondary: #62cba5;
$tb-secondary-light: #95ffd6;
$tb-secondary-dark: #2a9a76;

// blue
$tb-blue: #284ee8;
$tb-blue-dark: #59bcf7;
$tb-blue-light: #59bcf733;

// Dark blue
$tb-dark-blue: #0d0b20;

// purple
$tb-purple: #b74ad6;

// deepPurple
$tb-deepPurple: #3919bb;

// green
$tb-green: #62cba5;
$tb-green-light: #62cba54d;
$tb-green-hover: #337a61; // Also green-dark
$tb-green-border: #58bbad;

// darker green
$tb-dark-green: #337a61;

// pink
$tb-pink: #af20af;
$tb-pink-dark: #935995;
$tb-pink-light: #af20af4d;

// white
$tb-white: #f5f5f5;
$tb-black: #212121;
$tb-transparent: transparent;

// background
$tb-black-background: #2d2d2d;
$tb-black-background-shadow: #2d2d2dcc;
$tb-grey-background: #7e7e7e;

// stroke
$tb-grey-stroke: #d9d9d9;

// messages
$tb-red-error: #ed5956;
$tb-orange-warning: #ed9829;
$tb-blue-info: #0094ff;
$tb-green-success: #00c083;

// text
$tb-black-text: #000000;

// logo
$tb-green-logo: #24F3D2;

/*
 * Color Map (used for color classes and direct usage in components)
 */
$colors: (
  'primary': $tb-primary,
  'primaryLight': $tb-primary-light,
  'primaryDark': $tb-primary-dark,
  'secondary': $tb-secondary,
  'secondaryLight': $tb-secondary-light,
  'secondaryDark': $tb-secondary-dark,
  'blue': $tb-blue,
  'blueDark': $tb-blue-dark,
  'blueLight': $tb-blue-light,
  'darkBlue': $tb-dark-blue,
  'purple': $tb-purple,
  'green': $tb-green,
  'greenLight': $tb-green-light,
  'greenDark': $tb-green-hover,
  'greenBorder': $tb-green-border,
  'greenHover': $tb-green-hover,
  'pink': $tb-pink,
  'pinkLight': $tb-pink-light,
  'pinkDark': $tb-pink-dark,
  'white': $tb-white,
  'black': $tb-black,
  'deepPurple': $tb-deepPurple,
  'darkGreen': $tb-dark-green,
  'transparent': $tb-transparent,
  'blackBackground': $tb-black-background,
  'blackBackgroundShadow': $tb-black-background-shadow,
  'greyBackground': $tb-grey-background,
  'greyStroke': $tb-grey-stroke,
  'redError': $tb-red-error,
  'orangeWarning': $tb-orange-warning,
  'blueInfo': $tb-blue-info,
  'greenSuccess': $tb-green-success,
  'blackText': $tb-black-text,
  'greenLogo': $tb-green-logo,
);

:export {
  @each $name, $value in $colors {
    #{unquote($name)}: $value;
  }
}
