@use './../functions/base.functions' as *;

/**
 Fonts
*/
$font-fallback: -apple-system, -apple-system-body, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial',
  sans-serif;
$font-the-badge-web: 'Mulish', $font-fallback;

$font-weight-thin: 100;
$font-weight-normal: 400;
$font-weight-large: 500;
$font-weight-xlarge: 600;
$font-weight-bold: 700;
$font-weight-xbold: 800;
$font-weight-black: 900;

// line-height need to be unit-less, according to the docs and also
// you can se why here -> node_modules/@mui/material/styles/responsiveFontSizes.js:30

// headlines
// h1
$font-size-h1: 60px;
$line-height-h1: 113%;
// h2
$font-size-h2: 50px;
$line-height-h2: 120%;
// h3
$font-size-h3: 44px;
$line-height-h3: 100%;
// h4
$font-size-h4: 21px;
$line-height-h4: 115%;
// h5
$font-size-h5: 20px;
$line-height-h5: 120%;
// h6
$font-size-h6: 18px;
$line-height-h6: 117%;

// bodies
// Body 1
$font-size-body1: 19px;
$line-height-body1: 147%;
// Body 2
$font-size-body2: 18px;
$line-height-body2: 133%;
// Body 3
$font-size-body3: 20px;
$line-height-body3: 130%;
// Body 4
$font-size-body4: 12px;
$line-height-body4: 133%;

// titles
// Title 1
$font-size-title1: 23px;
$line-height-title1: 121%;
// Title 2
$font-size-title2: 28px;
$line-height-title2: 107%;
// Title 3
$font-size-title3: 35px;
$line-height-title3: 100%;
// Title 4
$font-size-title4: 22px;
$line-height-title4: 110%;
// Title 5
$font-size-title5: 21px;
$line-height-title5: 114%;

// subtitles
$font-size-subtitle1: 16px;
$line-height-subtitle1: 150%;
$font-size-subtitle2: 14px;
$line-height-subtitle2: 114%;

// button
$font-size-button: 18px;
$line-height-button: 111%;

// caption
$font-size-caption: 12px;
$line-height-caption: 115%;

// overline
$font-size-overline: 10px;
$line-height-overline: 120%;

$default: 1;

:export {
  fontTheBadgeWeb: $font-the-badge-web;
  fontWeightThin: $font-weight-thin;
  fontWeightNormal: $font-weight-normal;
  fontWeightLarge: $font-weight-large;
  fontWeightExtraLarge: $font-weight-xlarge;
  fontWeightBold: $font-weight-bold;
  fontWeightExtraBold: $font-weight-xbold;
  fontWeightBlack: $font-weight-black;
  // Headers
  fontSizeH1: $font-size-h1;
  lineHeightH1: $line-height-h1;
  fontSizeH2: $font-size-h2;
  lineHeightH2: $line-height-h2;
  fontSizeH3: $font-size-h3;
  lineHeightH3: $line-height-h3;
  fontSizeH4: $font-size-h4;
  lineHeightH4: $line-height-h4;
  fontSizeH5: $font-size-h5;
  lineHeightH5: $line-height-h5;
  fontSizeH6: $font-size-h6;
  lineHeightH6: $line-height-h6;
  // Bodies
  fontSizeBody1: $font-size-body1;
  lineHeightBody1: $line-height-body1;
  fontSizeBody2: $font-size-body2;
  lineHeightBody2: $line-height-body2;
  fontSizeBody3: $font-size-body3;
  lineHeightBody3: $line-height-body3;
  fontSizeBody4: $font-size-body4;
  lineHeightBody4: $line-height-body4;
  // Titles
  fontSizeTitle1: $font-size-title1;
  lineHeightTitle1: $line-height-title1;
  fontSizeTitle2: $font-size-title2;
  lineHeightTitle2: $line-height-title2;
  fontSizeTitle3: $font-size-title3;
  lineHeightTitle3: $line-height-title3;
  fontSizeTitle4: $font-size-title4;
  lineHeightTitle4: $line-height-title4;
  fontSizeTitle5: $font-size-title5;
  lineHeightTitle5: $line-height-title5;
  // Sub-Titles
  fontSizeSubtitle1: $font-size-subtitle1;
  lineHeightSubtitle1: $line-height-subtitle1;
  fontSizeSubtitle2: $font-size-subtitle2;
  lineHeightSubtitle2: $line-height-subtitle2;
  // Bottons
  fontSizeButton: $font-size-button;
  lineHeightButton: $line-height-button;
  // Caption
  fontSizeCaption: $font-size-caption;
  lineHeightCaption: $line-height-caption;
  // Overline
  fontSizeOverline: $font-size-overline;
  lineHeightOverline: $line-height-overline;
}
