@use 'color.variables.module' as *;

/**
 * Gradients
 */
$tb-gradient-0: linear-gradient(154.96deg, #0b3f33 9.89%, #369485 54.65%, #900d90 100.15%);
$tb-gradient-1: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(180deg, $tb-blue 0%, $tb-green 81.37%);
$tb-gradient-2: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  linear-gradient(180deg, $tb-blue 0%, $tb-blue-light 100%);
$tb-gradient-3: linear-gradient(180deg, $tb-pink 22.51%, $tb-pink-light 74.07%);
$tb-gradient-4: linear-gradient(
  136.68deg,
  #24f3d2 11.28%,
  #0674f0 34.88%,
  #6961b5 51.04%,
  #f34660 75.12%,
  #ee078d 91.58%
);
$tb-gradient-5: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0) -0.87%,
  rgba(0, 131, 98, 0.37) 49.98%,
  rgba(0, 0, 0, 0) 100.83%
);

$tb-gradient-header: linear-gradient(90deg, #008362 0%, #5BBCAD 21.48%, #002CBF 50.63%, $tb-purple 74.67%, #891CFB 98.2%);

/*
 * Gradients Map (used for gradient classes and direct usage in components)
 */
$gradients: (
  'gradient0': $tb-gradient-0,
  'gradient1': $tb-gradient-1,
  'gradient2': $tb-gradient-2,
  'gradient3': $tb-gradient-3,
  'gradient4': $tb-gradient-4,
  'gradient5': $tb-gradient-5,
  'gradientHeader': $tb-gradient-header,
);

:export {
  @each $name, $value in $gradients {
    #{unquote($name)}: $value;
  }
}
