@use 'variables/fonts.variables.module' as *;

@font-face {
  font-family: $font-the-badge-web;
  font-style: normal;
  font-weight: $font-weight-normal;
  src: url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
  font-display: optional; // see https://web.dev/font-display/
}

@font-face {
  font-family: $font-the-badge-web;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
  font-display: optional;
}

@font-face {
  font-family: $font-the-badge-web;
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
  font-display: optional;
}
