@use '../../../assets/scss/functions/_base.functions.scss' as *;
@use '../../../assets/scss/variables/variables.module';

.stepper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 32px 16px 32px 16px;
  height: max-content;

  &--withBorder {
    border-width: 1px;
    border-style: solid;
  }

  &__title {
    font-family: variables.$font-the-badge-web;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

    &--glow {
      text-shadow: 0px 0px 25px;
    }

    span {
      opacity: 0.5;
    }
  }

  &__step {
    width: 100%;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    // Swith Transitions
    // https://youtu.be/sfZZA8n07FA?t=752

    //// Enter
    &-fade-enter {
      opacity: 0;
    }
    &-fade-enter-active {
      opacity: 1;
      transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    }
    &-fade-enter-done {
    }
    //// Exit
    &-fade-exit {
    }
    &-fade-exit-active {
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    }
    &-fade-exit-done {
    }
  }

  &__content {
    display: flex;
    height: 100%;
    flex-direction: row;
    margin: 8px;

    @media screen and (max-width: 500px) {
      margin: 8px 0 8px 0;
    }
  }

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;

    &__container {
      display: flex;
      flex-direction: row;
      column-gap: 8px;
      align-self: center;
    }
  }

  &__arrow {
    height: 32px;
    width: 32px;

    align-self: center;
    cursor: pointer;

    &--disable {
      opacity: 0.5;
    }
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
