@use '../../../assets/scss/functions/_base.functions.scss' as *;
@use '../../../assets/scss/variables/variables.module';

.stepper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 16px 16px 32px 16px;
  height: max-content;

  &--withBorder {
    border-width: 1px;
    border-style: solid;
  }

  &__title {
    font-family: variables.$font-the-badge-web;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

    &--glow {
      text-shadow: 0px 0px 25px;
    }

    span {
      opacity: 0.5;
    }
  }

  &__step {
    width: 100%;
    // Swith Transitions
    &-fade-enter {
      opacity: 0;
    }
    &-fade-exit {
      opacity: 1;
    }
    &-fade-enter-active {
      opacity: 1;
    }
    &-fade-exit-active {
      opacity: 0;
    }
    &-fade-enter-active,
    &-fade-exit-active {
      transition: all 300ms ease-in-out;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin: 8px;
  }

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;

    &__container {
      display: flex;
      flex-direction: row;
      column-gap: 8px;
      align-self: center;
    }
  }

  &__arrow {
    height: 32px;
    width: 32px;

    align-self: center;
    cursor: pointer;

    &--disable {
      opacity: 0.5;
    }
  }
}
