@use '../variables/viewport.variables' as *;
@use 'breakpoint.mixins' as *;

/* stylelint-disable scss/dollar-variable-pattern */

@mixin for-viewport($viewport) {
  @if map-has-key($viewports, $viewport) {
    $_viewport: map-get($viewports, $viewport);
    $_minWidth: map-get($_viewport, "min");
    $_maxWidth: #{ map-get($_viewport, "max") - 0.1 }; // there is a bug, with Scaled Screens, for further Infos goto: https://stackoverflow.com/questions/63637584/bug-with-browsers-interpretation-of-media-queries
    @media (min-width: $_minWidth) and (max-width: $_maxWidth) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved for `for-#{$viewport}`. "
        + "Available viewports are: #{map-keys($viewports)}.";
  }
}

@mixin for-mobile {
  @include below-breakpoint(m) {
    @content;
  }
}

@mixin for-tablet {
  @include for-viewport(m) {
    @content;
  }
}

@mixin for-desktop {
  @include for-viewport(l) {
    @content;
  }
}

@mixin for-large-desktop {
  @include for-viewport(xl) {
    @content;
  }
}

@mixin below-tablet {
  @include below-breakpoint(m) {
    @content;
  }
}

@mixin below-desktop {
  @include below-breakpoint(l) {
    @content;
  }
}

@mixin below-large-desktop {
  @include below-breakpoint(xl) {
    @content;
  }
}

@mixin below-extra-large-desktop {
  @include below-breakpoint(xxl) {
    @content;
  }
}

@mixin above-mobile {
  @include above-breakpoint(m) {
    @content;
  }
}

@mixin above-tablet {
  @include above-breakpoint(l) {
    @content;
  }
}

@mixin above-desktop {
  @include above-breakpoint(xl) {
    @content;
  }
}

@mixin above-large-desktop {
  @include above-breakpoint(xxl) {
    @content;
  }
}
