@use '../../../assets/scss/functions/_base.functions.scss' as *;
@use '../../../assets/scss/variables/variables.module';

.badge-preview {
  color: variables.$tb-black-text;
  cursor: pointer;

  &__container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    border: 2px solid variables.$tb-green-border;
    border-radius: 8px;
    padding: 16px;
    background: white;
  }

  &__header {
    position: relative;
    flex: 0 1 auto;

    &--background-image {
      width: 100%;
    }

    &--tb-logo {
      position: absolute;
      left: -8px;
      top: -8px;
    }

    &--image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--qr-code {
      border: 8px solid white;
      width: 40%;
      position: absolute;
      right: 5%;
      bottom: -15%;
    }
  }

  &__content {
    &--title {
      flex: 0 1 auto;
      font-weight: variables.$font-weight-bold;
      font-size: convert-to-rem(28px);
      line-height: convert-to-rem(34px);
      margin-bottom: 3%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--subline {
      flex: 0 1 auto;
      width: 50%;
      font-weight: variables.$font-weight-normal;
      font-size: convert-to-rem(14px);
      line-height: convert-to-rem(15px);
      padding-top: 10%;
      padding-bottom: 1%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--description {
      font-weight: variables.$font-weight-normal;
      font-size: convert-to-rem(15px);
      line-height: convert-to-rem(18px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &--grow {
    transition: all 0.3s ease-in-out;
    &:hover {
      scale: 1.075;
    }
  }

  &--wobble {
    transition: all 0.3s ease-in-out;
    &:hover {
      animation: move 5s infinite;
    }
  }

  @keyframes move {
    0% {
      transform: perspective(1500px) rotateY(0deg) rotateX(0deg);
    }
    33% {
      transform: perspective(1500px) rotateY(10deg) rotateX(-5deg);
    }
    66% {
      transform: perspective(1500px) rotateY(-10deg) rotateX(5deg);
    }
    100% {
      transform: perspective(1500px) rotateY(0deg) rotateX(0deg);
    }
  }
}
