@use '../../../assets/scss/functions/_base.functions.scss' as *;
@use '../../../assets/scss/variables/variables.module';

.section-layout {
  display: flex;
  flex-direction: column;
  width: 100%;

  border-radius: 20px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;

  &__component {
    display: flex;
    flex: 1;


    // flavours
    &-top {
      max-height: fit-content;
    }

    &-middle {
      padding: 1rem;
      align-items: flex-start;
    }

    &-bottom {
      padding: 1rem;
      align-items: flex-end;
    }


    // some custom configurations
    &--with-padding {
      padding: 1rem;
    }

    &--fit-content {
      max-height: fit-content;  // Max height that the usual image on webpage can grow
    }
  }
}
