@use '../../../../assets/scss/functions/_base.functions' as *;
@use '../../../../assets/scss/variables/variables.module';

.badge-previewV2 {
  position: relative;
  color: variables.$tb-black-text;

  &__container {
    display: flex;
    position: relative;
    flex-flow: column;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    &--small {
      padding: 20px 20px 16px;
      gap: 12px;
    }
    &--medium {
      padding: 32px 32px 20px;
      gap: 16px;
    }
    &--large {
      padding: 40px 40px 32px;
      gap: 20px;
    }

    &--backgroundImage {
      position: absolute;
      border-radius: 8px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &--dark {
      color: white;
    }

    &--dark-withTextBackground {
      color: white;
    }

    &--light {
      color: black;
    }

    &--light-withTextBackground {
      color: black;
    }

    &__shadow {
      position: absolute;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;

      &--dark {
        color: white;
        background-size: cover;
        background-repeat: repeat-x;
      }

      &--dark-withTextBackground {
        color: white;
        background: linear-gradient(
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0.2) 10%,
                        rgba(0, 0, 0, 0.7) 25%,
                        rgba(0, 0, 0, 0.9) 100%
        )
        bottom;
      }

      &--light {
        color: black;
        background-size: cover;
        background-repeat: repeat-x;
      }

      &--light-withTextBackground {
        color: black;
        background: linear-gradient(
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 0.2) 10%,
                        rgba(255, 255, 255, 0.7) 25%,
                        rgba(255, 255, 255, 0.9) 75%
        )
        bottom;
      }

      &--small {
        height: 35%;
      }
      &--medium {
        height: 35%;
      }
      &--large {
        height: 33%;
      }
    } // __Shadow ends ---
  } // __Container ends ---

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--logo-qr-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    } // --Logo-QR-Container ends ---

    &--tb-logo {

    } // --TB-Logo ends ---

    &--qr-code {
      border: 8px solid white;
      height: fit-content;

      &--small {
        border: 2px solid white;
      }

      &--medium {
        border: 4px solid white;
      }

      &--large {
        border: 6px solid white;
      }
    } // --QR-Code ends ---
  }  // __Header ends ---

  &__image-container {
    display: flex;
    position: relative;
  }

  &__miniLogo-container {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform: translate(25%,20%);

    &--small {
      svg {
        width: 50px;
        height: 50px;
      }
    }

    &--medium {
      svg {
        width: 65px;
        height: 65px;
      }
    }

    &--large {
      svg {
        width: 75px;
        height: 75px;
      }
    }
  }

  &__miniLogo-titleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 0;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--small {
      line-height: 10px;
    }

    &--medium {
      line-height: 12px;
    }
  }

  &__miniLogo-imageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 10px;

    &--small {
      padding: 5px;
    }

    &--medium {
      padding: 7px;
    }
  }

  &__miniLogo-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    position: relative;
    object-fit: cover;
    border-radius: 50%;
  }

  &__miniLogo-title {
    margin:0;
    color: black;
    font-weight: 900;
    font-size: x-large;

    &--small {
      font-weight: 800;
    }
  }

  &__miniLogo-subTitle {
    color: black;
    font-size: small;
    font-weight: 400;

    &--small {
      font-size: x-small;
    }
  }

  &__image-placeholder {
    display: flex;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
  }

  &__image {
    border-radius: 16px;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    z-index: 2;
    position: relative;
    object-fit: contain;

    &--small {
      width: 160px;
      height: 160px;
    }

    &--medium {
      width: 236px;
      height: 236px;
    }

    &--large {
      width: 320px;
      height: 320px;
    }

    &-blur {
      border-radius: 16px;
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
    }

    &-blur:after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
    }

    &-bg {
      min-height: 100%;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-filter: blur(4px);
      -o-filter: blur(4px);
      filter: blur(4px);
    }
  } // __Image ends ---

  &__content {
    flex: 2;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;

    &--small {    }
    &--medium {   }
    &--large {
      padding-top: 8px;
    }

    &--title {
      flex: 0 1 auto;
      font-weight: variables.$font-weight-large;
      font-size: convert-to-rem(22px);
      line-height: convert-to-rem(25px);
      overflow: hidden;
      text-overflow: ellipsis;

      &--small {
        margin-top: 0;
        margin-bottom: 6px;
        font-weight: variables.$font-weight-large;
        font-size: convert-to-rem(12px);
        line-height: convert-to-rem(15px);
      }
      &--medium {
        margin-bottom: 8px;
        font-size: convert-to-rem(16px);
        line-height: convert-to-rem(19px);
      }
      &--large {
        margin-bottom: 8px;
        font-size: convert-to-rem(18px);
        line-height: convert-to-rem(21px);
      }
    } // --Title ends ---

    &--category {
      flex: 0 1 auto;
      font-weight: variables.$font-weight-black;
      font-size: convert-to-rem(20px);
      line-height: convert-to-rem(23px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &--small {
        margin-bottom: 4px;
        font-size: convert-to-rem(13px);
        line-height: convert-to-rem(17px);
        letter-spacing: 0.6px;
      }
      &--medium {
        margin-bottom: 12px;
        font-size: convert-to-rem(15px);
        line-height: convert-to-rem(19px);
        letter-spacing: 0.6px;
      }
      &--large {
        margin-bottom: 12px;
        font-size: convert-to-rem(17px);
        line-height: convert-to-rem(21px);
        letter-spacing: 0.6px;
      }
    } // --Category ends ---

    &--description {
      font-weight: variables.$font-weight-normal;
      font-size: convert-to-rem(16px);
      line-height: convert-to-rem(18px);
      overflow: hidden;
      text-overflow: ellipsis;

      &--small {
        font-size: convert-to-rem(10px);
        line-height: convert-to-rem(12px);
      }
      &--medium {
        font-size: convert-to-rem(12px);
        line-height: convert-to-rem(18px);
      }
      &--large {
        font-size: convert-to-rem(15px);
        line-height: convert-to-rem(18px);
      }
    } // --Description ends ---
  } // __Content ends ---

  // Animations

  &--grow {
    transition: all 0.3s ease-in-out;
    &:hover {
      scale: 1.075;
    }
  }

  &--wobble {
    transition: all 0.3s ease-in-out;
    &:hover {
      animation: move-v2 5s infinite;
    }
  }

  &--glare {
    .glare {
      border-radius: 8px;

      &:hover {
        animation: glare-v2 5s infinite;
        mix-blend-mode: overlay;
        opacity: 0.5;
      }
    }
  }

  @keyframes move-v2 {
    0% {
      transform: perspective(1500px) rotateY(0deg) rotateX(0deg);
    }
    33% {
      transform: perspective(1500px) rotateY(10deg) rotateX(-5deg);
    }
    66% {
      transform: perspective(1500px) rotateY(-10deg) rotateX(5deg);
    }
    100% {
      transform: perspective(1500px) rotateY(0deg) rotateX(0deg);
    }
  }

  @keyframes glare-v2 {
    0% {
      background: none;
    }
    33% {
      // at X Y
      // First value moves over X axis
      // Second value vmoves over Y axis
      background: radial-gradient(
        farthest-corner circle at 20% 20%,
        rgba(255, 255, 255, 0.8) 10%,
        rgba(255, 255, 255, 0.65) 20%,
        rgba(0, 0, 0, 0.5) 90%
      );
    }
    66% {
      background: radial-gradient(
        farthest-corner circle at 80% 80%,
        rgba(255, 255, 255, 0.8) 10%,
        rgba(255, 255, 255, 0.65) 20%,
        rgba(0, 0, 0, 0.5) 90%
      );
    }
    100% {
      background: none;
    }
  }
}

.glare {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
